.content-page {
  padding: 20px;
  &__head,
  &__title {
    color: $black;
    font-weight: 300;
    font-size: 24px;
    display: block;
  }
  &__head {
    margin-bottom: 20px;
  }
  &__title {
    margin-bottom: 10px;
    font-size: 22px;
  }
  &__highlight {
    color: $orange;
  }
  &__item {
    margin-bottom: 10px;
    font-size: 16px;
  }
  &--cl-main {
    color: $cl-main2;
  }
  &__main {
    background-color: $cl-white;
    border: 1px solid $gray;
    padding: 20px 25px 60px;
  }
  &__panel {
    margin-bottom: 20px;
  }
  &__sep {
    border-bottom: 1px solid $gray;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  &__indent {
    margin-top: 30px;
  }
  &--no-margin {
    margin: 0px;
  }
  &--indent-bottom {
    margin-bottom: 20px;
  }
  &--indent-right {
    margin-right: 20px;
  }
  &--panel-extend {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -10px;
    margin-right: -10px;
  }
  &__panel-item {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
  }
  &--valign-center {
    align-items: center;
  }
  &__panel-btn {
    margin-left: 10px;
    margin-right: 10px;
  }
  &__body {
  }
  &--link {
    color: $cl-main2;
    &:hover {
      text-decoration: none;
    }
  }
  &__socials {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;
    padding-top: 15px;
    padding-bottom: 20px;
  }
  &__total {
  }
  &__info-payment {
    color: $gray-dark;
    text-align: center;
    font-size: 24px;
    padding: 20px 0px;
  }
  &__comment {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 10px;
    border-left: solid 1px $cl-main2;
    font-size: 14px;
  }
  &__head-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 20px;
  }
  &__head-col {
    padding-left: 10px;
    padding-right: 10px;
  }
  &--columns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__left {
  }
  &__right {
    width: 100%;
    padding-left: 40px;
  }
  &__btn {
    margin-right: 20px;
  }
  &__payments-info {
    padding: 20px;
    border: solid 1px $gray-line;
    margin-bottom: 20px;
    border-radius: 5px;
  }
}
