.data-grid {
  &-link {
    color: $cl-main2;
    transition-property: all;
    transition-duration: 0.5s;
    &:hover {
      color: $cl-main;
      text-decoration: none;
    }
  }
  &--blacklist {
    background-color: $black;
    color: $cl-white;
    padding-left: 10px;
    padding-right: 10px;
    &:after {
      display: inline-block;
      margin-left: 5px;
      content: '(в черном списке)';
    }
    &:hover {
      color: $cl-white;
      text-decoration: none;
    }
  }
}
