.price-list {
  &__head {
    color: $gray-dark;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 15px;
  }
  &__list {
    margin-bottom: 30px;
  }
  &__str {
    font-size: 14px;
    margin-bottom: 5px;
    position: relative;
    padding-left: 40px;
  }
  &__check {
    position: absolute !important;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
  }
  &__str-price {
    display: inline-block;
  }
}
