.total-price {
  text-align: right;
  border-top: 3px solid $cl-completed-head;
  padding-top: 15px;

  &--columns {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  &__item {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  &--green {
    color: $lightseagreen;
  }
  &--red {
    color: $cl-error;
  }

  @include xl() {
  }
  @include lg() {
    &--columns {
      flex-wrap: wrap;
    }
    &__col {
      width: 100%;
      & .link {
        margin-bottom: 10px;
        font-size: 14px;
      }
    }
    &__item {
      font-size: 13px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  @include md() {
  }
  @include sm() {
  }
  @include xs() {
  }
}
