$black: #232323;
$background: #ffdf8c;
$gray-line: #cccccc;
$gray: #dbdbdb;
$gray-dark: #777777;
$gray-light: #eeeeee;
$orange: #fe5f1e;

$cl-main: #1b3446;
$cl-main2: #3f51b5;
$cl-white: #ffffff;

$container-width: 90%;

$duration: 0.15s;

$size-hour-shedule: 25px;
$size-head-shedule: 50px;
