$black: #232323;
$yellow: #ffdf8c;
$gray-line: #cccccc;
$gray: #dbdbdb;
$gray-dark: #777777;
$gray-light: #eeeeee;
$orange: #fe5f1e;

$cl-main: #1b3446;
$cl-main2: #3f51b5;
$cl-white: #ffffff;

$aquamarine: #86dfcd;
$lightseagreen: #1ab394;

$cl-application: #8693df;
$cl-application-head: #1a3eb3;

$cl-completed: #dbdbdb;
$cl-completed-head: #777777;

$container-width: 90%;

$duration: 0.15s;

$size-hour-shedule: 25px;
$size-head-shedule: 50px;
